<body style="margin: 0; display: flex; flex-direction: column; min-height: 100vh;">
  <main style="flex: 1;">
    
  </main>
  <footer style="background-color: #c45c2d; color: white; padding: 20px 0; text-align: center; font-size: 14px; width: 100%;">
    <div style="max-width: 100%; margin: 0 auto;">
      <p style="margin: 0;">© <%= new Date().getFullYear() %> by Virjeet Kakekar. Powered and secured by 
        <a href="#" style="color: white; text-decoration: underline;">Virjeet</a>
      </p>
    </div>
  </footer>
</body>
