
<%- include("partials/header.ejs") %>
<link rel="stylesheet" href="C:\Users\virje\OneDrive\Desktop\virjeet\dev\projects\blog-website\public\styles\style.css">
<div class="container" style="display: flex;justify-content: space-evenly;">
      <img src="/images/first.jpg" alt="Desk with accessories" style="width: 374px; height: 640px; border-radius: 8px;"> 
      <img src="/images/81OcZThCE9L._AC_UF1000,1000_QL80_.jpg" alt="Portrait of a person" style="width: 379px; height: 570px; border-radius: 8px;"> 
      <img src="/images/second.jpg" alt="Plant in a pot" style="width: 374px; height: 640px; border-radius: 8px;"> 
  </div>
  <h1 style=" font-size: 4rem;display: flex; justify-content: center;">My Life My Blog</h1>
<%- include("partials/footer.ejs") %>
